# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore upload directories
/public/upload/photo/ingredient/*
!/public/upload/photo/ingredient/.keep

# Ignore temporary document files
/doc

# Ignore other unneeded files.
database.yml
*.swp
*~
.project
.DS_Store
.idea
.secret