- nav = t(:nav)
%nav#nav
  %ul
    %li>= link_to nav[:recipes], "#"
    %li>= link_to nav[:menus], "#"
    %li>= link_to nav[:wiki], "#", id: "wiki_nav_link"
    %li>= link_to nav[:my_space], "#"
    %li>= link_to nav[:about], "#"