%nav#nav
  %ul
    %li>= link_to t(:nav_recipes), "#"
    %li>= link_to t(:nav_menus), "#"
    %li>= link_to t(:nav_wiki), "#"
    %li>= link_to t(:nav_my_space), "#"
    %li>= link_to t(:nav_about), "#"